name: CI - Deploy API Gateway

on:
  push:
    branches: [ "main", "develop", "feature/**" ]
  pull_request:
    branches: [ "main", "develop" ]
  workflow_dispatch:

env:
  TERRAFORM_API_GW_DIR: infra/terraform
  ENVIRONMENT: ${{ github.ref_name == 'main' && 'production' || 'develop' }}

jobs:
  deploy-gateway:
    name: Deploy API Gateway
    runs-on: self-hosted
    environment: ${{ github.ref_name == 'main' && 'production' || 'develop' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.7

      - name: Terraform Gateway Init
        working-directory: ${{ env.TERRAFORM_API_GW_DIR }}
        run: terraform init -backend-config="key=api_gateway/${ENVIRONMENT}/terraform.tfstate"

      - name: Terraform Gateway Apply
        working-directory: ${{ env.TERRAFORM_API_GW_DIR }}
        run: terraform apply -auto-approve
